<!DOCTYPE html>
<html lang="en" ng-app="GalleryApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
</head>
<body>
{% verbatim %}
    <div ng-view></div>
{% endverbatim %}
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.js"></script>
<script src="{{ STATIC_URL }}js/main.js"></script>
<script src="{{ STATIC_URL }}js/controllers.js"></script>
<script src="{{ STATIC_URL }}js/directives.js"></script>
<script src="{{ STATIC_URL }}js/filters.js"></script>
<script src="{{ STATIC_URL }}js/services.js"></script>
<script src="{{ STATIC_URL }}js/app.js"></script>
</body>
</html>